.navBar{
    display: flex;
    justify-content: space-between;
    margin: 1em;
    border-radius: 25px;
    background-color: hsla(0,0%,100%,.1);
    border: 1px solid hsla(0,0%,100%,.1);
    position: sticky;
    top: 7px;
    z-index: 100;
    width: 700px;
    padding: 0;
    margin: auto;
}

.firstButton,
.link{
    background-color: transparent;
    border-radius: 0;
}

.firstButton:hover,
.link:hover{
    box-shadow: 0 0 10px #595fd5;
}

.firstButton{
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
}

/* .links{
    float: left;
}

.search{
    float: right;
} */