.form{
    border-radius: 1em;
    border: 1px solid hsla(0,0%,100%,.1);
    margin: 1em;
    background-color: #353535;
    padding: 2em;
    padding-top: 0;
}

.form > h2{
    text-align: start;
}

/* .notification{
    display: flex;
    justify-content: center;
} */