.form{
    border-radius: 1em;
    border: 1px solid hsla(0,0%,100%,.1);
    margin: 1em;
    background-color: #353535;
    padding: 2em;
    padding-top: 0;
}

.form > h2{
    text-align: start;
    margin-bottom: 0;
    font-size: 35px;
}

.errors{
    color: rgb(201, 0, 0);
    font-weight: 100;
}

.select{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 0;
}

.select > button{
    background-color: hsla(0,0%,100%,.1);
    margin-bottom: 0;
}

/* .notification{
    display: flex;
    justify-content: center;
} */